/*### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%) */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-radius: 25px 25px 0 0;
}

button {
    font-family: inherit;
    font-weight: 700;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
}

button:hover {
    font-family: inherit;
    font-weight: 700
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 26%);
    color: white;
}

body {
    font-size: 14px;
    font-family: "Montserrat", "sans-serrif";
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family: "Fraunces";
    font-weight: 700;
    margin-top: 10px;
}

h2 {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin-top: 10px;
}

p {
    color: hsl(228, 12%, 48%);
    margin-top: 10px;
}

li {
    display: inline-block;
}

.price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
    font-weight: 700;
}

.price2 {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin: 10px;
}

.container {
    width: fit-content;
    padding: 30px;
    background-color: white;
    border-radius: 0 0 25px 25px;
}