main {
    display: flex;
    flex-direction: column;
}

@media (min-width: 48em) {
    main {
        flex-direction: row;
    }
}

.box {
    width: fit-content;
    height: 650px;
    border-radius: 25px;
    background-color: white;
}

.cart-box {
    margin-left: 20px;
    width: 250px;
    height: 30px;
    padding: 5px;;
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: Montserrat;
    text-align: center;
}

.cart-box:hover {
    margin-left: 20px;
    width: 250px;
    height: 30px;
    padding: 5px;;
    border-radius: 5px;
    background-color: hsl(158, 36%, 23%);
    color: white;
    font-family: Montserrat;
    text-align: fixed;
}

.price1 {
    color: hsl(158, 36%, 37%);
    margin-left: 20px;
    font-weight: 700;
    font-size: 32px;
    font-family: fraunces;
}

.price2 {
    margin-left: 200px;
    color:hsl(228, 12%, 48%);
    text-decoration-line: line-through;
}

body {
    background-color: hsl(30, 38%, 92%);
    border-radius: 25px;
}

.img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 320px;
}

.perf {
    font-family: Montserrat;
    font-weight: 300;
    margin-left: 20px;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
}

.name {
    font-family: fraunces;
    font-weight: 700;
    margin-left: 20px;
}

.text {
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    margin-left: 20px;
    font-weight: 500;
    font-size: 10px;
}